<div id="content-wrapper" class="d-flex flex-column" >
  <div id="content" >
    <p class="mb-4 m-0 font-weight-bold text-dark mx-1"> &nbsp; Enter Student Registration </p>
    <div class=" shadow mb-4">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-6">
            <label style="font-size: 15px;" class="form-label"> Apoge </label>
              <input type="text" class="form-control">
          </div>
          <div class="col-sm-6">
            <label style="font-size: 15px;" class="form-label">&nbsp;</label>
            <button type="button" class="btn btn-outline-primary form-control"> Search </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

