
<!--<div class="container">-->
<!--  <div class="row">-->



<!--<div class="content">-->

<div id="wrapper">

  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
<!--  <app-departement-list></app-departement-list>-->
<!--  <app-departement-create></app-departement-create>-->
<!--  <app-absence-list></app-absence-list>-->
<!--  <app-prof-list></app-prof-list>-->
<!--  <app-prof-create></app-prof-create>-->
<!--  <app-students-create></app-students-create>-->
<!--  <app-students-list></app-students-list>-->
<!--<app-niveau></app-niveau>-->

</div>
<!--</div>-->





<!--    <app-filieres></app-filieres>-->
<!--    <app-niveau></app-niveau>-->
<!--<app-departement></app-departement>-->
<!--    <app-prof></app-prof>-->
<!--    <app-inscription></app-inscription>-->
<!--    <app-matiere></app-matiere>-->
<!--    <app-seance></app-seance>-->
<!--    <app-absence></app-absence>-->
<!--    <app-note></app-note>-->
<!--    <app-result></app-result>-->
<!--  </div>-->
<!--</div>-->
